@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: #982B1C;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 50vw;
    background-color: #F2E8C6;
    padding: 2.5rem;
    border-radius: 8px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.heading h1{
    margin-right: 8px;
}

.heading .heading_img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #800000;
}

.heading .heading_img img:not(:last-child){
    margin-right: 4px;
}

.input input{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    padding: 8px 10px;
    font-size: 1rem;
}


.selectContainer{
    margin: 35px 0px;
    display: flex;
    justify-content: space-between;
}

.selectContainer .from,.selectContainer .to{
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 13px;
    padding: 8px;
    transition: 0.2s ease;
}


.selectContainer .from img,.selectContainer .to img{
    width: 50px;
}

.selectContainer .from select,.selectContainer .to select{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}


.selectContainer .from:hover,.selectContainer .to:hover{
    border-color:rgb(0, 160, 188);
    box-shadow: 0 0 12px 0 rgb(0, 217, 255);
}

.infoText h4{
    text-align: center;
    color: #510b01;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

form .btn{
    display: block;
    background-color: #ac3791;
    color: #fff;
    width: 12vw;
    outline: none;
    border: none;
    margin:20px auto;
    padding: 12px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 29px;
    cursor: pointer;
    transition: 0.2s ease;
}

form .btn:hover{
    background-color: #AF4D98;
}

#output{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    padding: 8px 10px;
    font-size: 1rem;
}

form .btn2{
    display: block;
    background-color: rgb(198, 2, 2);
    color: #fff;
    width: 12vw;
    outline: none;
    border: none;
    margin:20px auto;
    padding: 12px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 29px;
    cursor: pointer;
    transition: 0.2s ease;
}

form .btn2:hover{
    background-color: rgb(245, 0, 0);
}